<div class="org-card">
	<%= image_tag @organizer.image, :class => "org-img-card" %>
	<h4><%= @organizer.name %></h4>
	<p><%= @organizer.description %></p>
	<p>Организованные мероприятия:</p>
	<% @events.each do |event| %>
	<ul>
		<li><%= event.name %></li>
	</ul>
	<% end %>
</div>