<p>
  <strong>Мероприятие:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Город:</strong>
  <%= @event.city %>
</p>
<p>
  <strong>Описание:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Дата и время проведения:</strong>
  <%= @event.date%>
</p>