/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card {
 	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 20px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }

.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 .card-img {
 	float: left;
 	height: auto;
 	width: 185px;
 	margin-right: 10px;
 	display: table-cell;
 	position: relative;
 	padding-bottom: 50px;
 }

table, th, td {
    border: 1px solid black;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: #2f3e52;
    color: white;
}

.admin-img {
	width: 185px;
	height: auto;
}

.orgs {
	border: 1px solid;
}

.org-img {
	width: 150px;
	height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.organizer {
	float: left;
	margin: 20px;
	text-align: center;
}

#org-block {
	margin:10px;
	overflow: hidden;
}

.org-card {
 	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 100%;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 20px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }

 .org-img-card {
	width: 150px;
	height: 150px;
    background-position: top center;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    display: inline-block;
}